<template>
    <div class="coin">
        <div class="coin__header">
            <h2 class="coin__btc-title">{{ coin.title }}</h2>
            <img :src="coin.img" :alt="coin.title">
        </div>
        <input v-model.number="count" type="number" min="0">
        <div class="coin__actions">
            <button 
            @click="setPortfolio({
                name: coin.name,
                count,
                operation: ''
            })">Продать</button>
            <button 
            @click="setPortfolio({
                name: coin.name,
                count,
                operation: '+'
            })">Купить</button>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    props: {
        coin: {
            type: Object,
            default: () => { }
        },
    },
    data() {
        return {
            count: 0,
        }
    },
    computed: {
        getBtcCount() {
            return this.$store.state.btc;
        },
        getEthCount() {
            return this.$store.state.eth;
        },
    },
    mounted() {
    },
    methods: {
        ...mapActions([
            'changePortfolio'
        ]),
        setPortfolio(coin){
            this.$emit('updatePie',coin);
            this.count = 0;
        }
    }
}
</script>

<style lang="scss" scoped>
.coin {

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;

        &>h2 {
            text-align: center;
            margin: 20px 0;
        }

        &>img {
            width: 75px;
            height: 75px;
        }
    }

    &>input {
        border: 1px solid #cdcdcd;
        padding: 5px;
    }

    &__actions {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;

        &>button {
            cursor: pointer;
            padding: 0px 15px;
            line-height: 34px;
            border: 1px solid #cdcdcd;
            user-select: none;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.2)
            }
        }
    }
}
</style>