<template>
    <div class="main-wrapper">
        <div class="converter-body">
            <div class="converter-side">
                <h2 class="converter-title">Конвертировать из</h2>
                <div class="currency">
                    <div class="form_radio_btn">
                        <input 
                        id="usd-coin" 
                        v-model="currencyIn" 
                        type="radio" 
                        name="currencyIn" 
                        value="usd-coin"
                        @change="set">
                        <label for="usd-coin">USD</label>
                    </div>
                    <div class="form_radio_btn">
                        <input 
                        id="bitcoin" 
                        v-model="currencyIn" 
                        type="radio" 
                        name="currencyIn" 
                        value="bitcoin"
                        @change="set">
                        <label for="bitcoin">BTC</label>
                    </div>
                    <div class="form_radio_btn">
                        <input 
                        id="ethereum" 
                        v-model="currencyIn" 
                        type="radio" 
                        name="currencyIn" 
                        value="ethereum"
                        @change="set">
                        <label for="ethereum">ETH</label>
                    </div>
                </div>
                <div class="calc-box">
                    <input v-model.number="mine" type="number" max="50" @input="set">
                </div>
            </div>
            <div class="converter-side">
                <h2 class="converter-title">Конвертировать в</h2>
                <div class="currency">
                    <div class="form_radio_btn">
                        <input 
                        id="usd" 
                        v-model="currencyOut" 
                        type="radio" 
                        name="currencyOut" 
                        value="usd" 
                        @change="set">
                        <label for="usd">USD</label>
                    </div>
                    <div class="form_radio_btn">
                        <input 
                        id="btc" 
                        v-model="currencyOut" 
                        type="radio" 
                        name="currencyOut" 
                        value="btc" 
                        @change="set">
                        <label for="btc">BTC</label>
                    </div>
                    <div class="form_radio_btn">
                        <input 
                        id="eth" 
                        v-model="currencyOut" 
                        type="radio" 
                        name="currencyOut" 
                        value="eth" 
                        @change="set">
                        <label for="eth">ETH</label>
                    </div>
                </div>
                <div class="calc-box">
                    <input v-model="wanted" type="number">
                </div>
            </div>
        </div>
        <h2 class="chart-title">График изменения курса</h2>
        <div class="small">
            <line-chart :chart-data="chartdata"></line-chart>
        </div>
    </div>
</template>

<script>
import moment from 'moment'
import {mapActions} from 'vuex'
import LineChart from './line-chart/line-chart'


export default {
    components: {
        LineChart,
    },
    data() {
        return {
            mine: null,
            wanted: null,
            currencyIn: 'bitcoin',
            currencyOut: 'usd',
            chartdata: {},
            'usd-coin/usd': undefined,
            'usd-coin/btc': undefined,
            'usd-coin/eth': undefined,
            'bitcoin/usd': undefined,
            'bitcoin/btc': undefined,
            'bitcoin/eth': undefined,
            'ethereum/usd': undefined,
            'ethereum/btc': undefined,
            'ethereum/eth': undefined,
        }
    },
    computed: {
        currentCourse() {
            return this.$store.state.current
        },
        chartLabel() {
            return (this.currencyIn.slice(0, 3) + ' / ' + this.currencyOut).toUpperCase()
        },
        chartDataset() {
            return this[this.currentCourseTitle]
        },
        chartLabels() {
            return this[this.currentCourseTitle]?.map((el, i) => moment()
                .subtract(i, 'days')
                .format('LL')).reverse();
        },
        currentCourseTitle() {
            return `${this.currencyIn}/${this.currencyOut}`
        }
    },
    async mounted() {
        this.getCurCourse();
        await this.getCourse();
        this.fillData();
    },
    methods: {
        ...mapActions([
            'getCurCourse'
        ]),
        async set() {
            const value = this.currentCourse[this.currencyIn][this.currencyOut] * this.mine;
            if (Number.isInteger(value)) {
                this.wanted = value;
            } else {
                this.wanted = +value.toFixed(4);
            }
            await this.getCourse();
            this.fillData();
        },
        fillData() {
            this.chartdata = {
                labels: this.chartLabels,
                datasets: [{
                    label: this.chartLabel,
                    data: this.chartDataset,
                    borderColor: '#000',
                    borderWidth: 1,
                    fill: false,
                    lineTension: 0,
                    spanGaps: true
                }]
            }
        },
        async getCourse() {
            if (!this[this.currentCourseTitle])
                await this.$axios.get(`https://api.coingecko.com/api/v3/coins/${this.currencyIn}/market_chart?vs_currency=${this.currencyOut}&days=13&interval=daily`)
                    .then(response => {
                        this[this.currentCourseTitle] = response.data.prices.map(el => el[1])
                        this[this.currentCourseTitle].splice(-1, 1);
                    })
                    .catch(error => error)
        }
    },

}
</script>

<style lang="scss" scoped>
.converter {

    &-body {
        background-color: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: space-around;
        margin: 20px 0 75px;
    }

    &-title {
        margin: 0 0 24px;
    }

}

.chart-title {
    margin: 50px 0;
    text-align: center;
}

.calc-box {
    width: 405px;
    margin: 24px 0;
    padding: 30px 20px 15px;
    border: 1px solid #cdcdcd;
}

input[type=number] {
    border: none;
    outline: none;
    width: 100%;
    height: 46px;
    font-size: 44px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
        /* <-- Apparently some margin are still there even though it's hidden */
    }
}

.currency {
    display: flex;
}

.form_radio_btn {
    display: inline-block;

    & input[type=radio] {
        display: none;
    }

    & label {
        display: inline-block;
        cursor: pointer;
        padding: 0px 15px;
        line-height: 34px;
        border: 1px solid #cdcdcd;
        user-select: none;
        transition: box-shadow 0.3s;
    }

    /* Checked */
    & input[type=radio]:checked+label {
        background: #2c9e60;
    }

    & label:hover {
        box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.4)
    }
}
</style>