

.wrapper{
    width: 1180px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #cdcdcd;
}

.nuxt-link{
    display: block;
    margin-right: 20px;
    text-decoration: none;
    color: #000;
    padding: 15px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
}
.nuxt-link:hover{
    transform: scale(1.1);
    text-decoration: none;
    color: #000;
}

.nuxt-link-exact-active{
    background-color: #a4f9b6;
}