<template>
<div>
    <nav>
        <nuxt-link class="nuxt-link" to="/">Конвертер</nuxt-link>
        <nuxt-link class="nuxt-link" to="/crypto-portfolio">Портфель</nuxt-link>
        </nav>
    <div class="wrapper">
        <div class="coins">
            <coin-buy 
            v-for="(coin, i) in coins" 
            :key="i" 
            :coin="coin" 
            @updatePie="updatePie"
            ></coin-buy>
        </div>
        <h2>Стоимость портфеля</h2>
        <p class="coins__total">{{ +totalValue.toFixed(4) + ' $' }}</p>
        <pie-chart :chart-data="chartdata"></pie-chart>
    </div>
</div>
    
</template>

<script>
import { mapActions } from 'vuex'
import PieChart from '@/components/pie-chart/pie-chart'

export default {
    components: {
        PieChart,
    },
    data() {
        return {
            chartdata: {},
            coins: [
                {
                    title: 'Bitcoin',
                    name: 'btc',
                    img: 'https://assets.coingecko.com/coins/images/1/large/bitcoin.png?1547033579'
                },
                {
                    title: 'Ethereum',
                    name: 'eth',
                    img: 'https://assets.coingecko.com/coins/images/279/large/ethereum.png?1595348880'
                },
            ]
        }
    },
    computed: {
        btcCount() {
            return this.$store.state.btc
        },
        ethCount() {
            return this.$store.state.eth
        },
        totalValue() {
            return this.btcCount * this.$store.state.current.bitcoin?.usd +
                this.ethCount * this.$store.state.current.ethereum?.usd
        },
    },
    mounted() {
        if (!this.$store.state.current.bitcoin) {
            this.getCurCourse()
        }
        this.fillData()
    },
    methods: {
        ...mapActions([
            'getCurCourse',
            'changePortfolio'
        ]),
        fillData() {
            this.chartdata = {
                labels: ['Bitcoin', 'Ethereum'],
                datasets: [
                    {
                        label: 'Data One',
                        backgroundColor: ['#f7931a', '#8a92b2'],
                        data: [this.btcCount, this.ethCount]
                    },
                ]
            }
        },
        async updatePie(coin) {
            await this.changePortfolio(coin);
            this.fillData()
        }
    }
}
</script>

<style lang="scss" scoped>
.coins {
    display: flex;
    justify-content: space-around;

    &__total {
        font-size: 32px;
        font-weight: 700;
    }
}

</style>