<template>
  <div>
    <nav>
      <nuxt-link class="nuxt-link" to="/">Конвертер</nuxt-link>
      <nuxt-link class="nuxt-link" to="/crypto-portfolio">Портфель</nuxt-link>
    </nav>
    <div class="wrapper">
      <crypto-converter></crypto-converter>
    </div>
  </div>

</template>

<script>

export default {
  name: 'IndexPage',
}
</script>

